/* App.css */

/* ปรับการเลื่อนหน้าจอให้นุ่มนวล (Smooth Scroll) */
html {
  scroll-behavior: smooth;
}

/* ถ้าอยากให้ Font Playfair Display ถูกนำมาใช้เป็นค่าเริ่มต้นของหัวข้อ */
h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}

/* ส่วนตัวอักษรเนื้อหา */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}